# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key. *** (does not use index like in a list or tuple)
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [2]:
data={} #empty dictionary
type(data)

dict

In [5]:
data1=dict() #empty dictionary
type(data1)

dict

In [13]:
data={'Alabama': 'Montgomery',
      'Arizona': 'Phoenix',
      'Georgia': 'Atlanta',
      'Kentucky': 'Frankfort',
      'Ohio': 'Salem'} #key:value

In [14]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [11]:
data={'Alabama': 'Montgomery',
      'Arizona': 'Phoenix',
      'Georgia': 'Atlanta',
      'Kentucky': 'Frankfort',
      'Ohio': 'Salem'}

In [12]:
data['Kentucky']

'Frankfort'

In [15]:
data['Alabama']

'Montgomery'

In [23]:
data['Louisiana'] #key error, if accessing a key which is not present, it will be a key error

KeyError: 'Louisiana'

### Update elements of a dictionary and add new elements

In [16]:
day={1: 'Monday',
     2: 'Tuesday',
     4:['Thursday', 'Friday'],
     5: ('Saturday', 'Sunday')}

In [17]:
#Monday
day[1]

'Monday'

In [18]:
#Friday
day[4][1] #[key][index]

'Friday'

In [19]:
#Saturday
day[5][0]

'Saturday'

### `get` and `update` methods

#### update (key is unique and immutable, value is mutable)

In [20]:
#update Sunday to holiday
day[5][1]='Holiday' 
#tuple update not possible

TypeError: 'tuple' object does not support item assignment

In [21]:
#update Thursday to holiday
day[4][0]='Holiday'
print(day)

{1: 'Monday', 2: 'Tuesday', 4: ['Holiday', 'Friday'], 5: ('Saturday', 'Sunday')}

In [ ]:
#update Monday to holiday
day[1]='Holiday'
print(day)

#### get

In [24]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [25]:
data.get('Arizona') #.get looks for key to return the value

'Phoenix'

In [27]:
data.get('Louisiana') #.get does not generate an error, different from accessing an element by its key

#### update old value to new and add new key value pair

In [28]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [29]:
data.update({'Kentucky':'Louisville', 'Louisiana':'Baton Rouge'})

In [30]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge'}

In [31]:
data.update({'alabama':'Montgomery'}) # only way to update key
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge', 'alabama': 'Montgomery'}

### Delete dictionary items using `del` and `pop`

In [32]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge', 'alabama': 'Montgomery'}

In [33]:
del data['Alabama']
print(data)

{'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge', 'alabama': 'Montgomery'}

In [34]:
del data['Ohio']
print(data)

{'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge', 'alabama': 'Montgomery'}

In [35]:
deleted_state=data.pop('Arizona')
print("Deleted state", deleted_state)

Deleted state Phoenix

In [36]:
print(data)

{'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge', 'alabama': 'Montgomery'}

In [37]:
# Delete Montgomery
deleted_capitol=data.pop('alabama')
print(deleted_capitol)
print(data)

Montgomery
{'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'}

In [38]:
del data # deleted entire dictionary
print(data)

NameError: name 'data' is not defined

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [39]:
data={'Alabama': 'Montgomery',
      'Arizona': 'Phoenix',
      'Georgia': 'Atlanta',
      'Kentucky': 'Frankfort',
      'Ohio': 'Salem'}

In [40]:
# number of elements/value in a dictionary
len(data)

5

In [41]:
# extract keys only
print(data.keys())

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [42]:
# extract values
print(data.values())

dict_values(['Montgomery', 'Phoenix', 'Atlanta', 'Frankfort', 'Salem'])

In [43]:
# generate items/key value pairs
print(data.items())
type(data.items())

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Phoenix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Salem')])

dict_items

### Loop through a dictionary

In [44]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [46]:
# loop through the dictionary keys
for i in data.keys(): #unpack dict items 
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [47]:
# loop through values
for j in data.values(): 
    print("The capitol is: ", j)

The capitol is:  Montgomery
The capitol is:  Phoenix
The capitol is:  Atlanta
The capitol is:  Frankfort
The capitol is:  Salem

In [49]:
# loop through items
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Phoenix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Salem')
<class 'tuple'>

In [52]:
# tuple unpacking
for i, j in data.items():
    print("State: ", i,)
    print("Capitol: ", j)
    print(type(i), type(j))

State:  Alabama
Capitol:  Montgomery
<class 'str'> <class 'str'>
State:  Arizona
Capitol:  Phoenix
<class 'str'> <class 'str'>
State:  Georgia
Capitol:  Atlanta
<class 'str'> <class 'str'>
State:  Kentucky
Capitol:  Frankfort
<class 'str'> <class 'str'>
State:  Ohio
Capitol:  Salem
<class 'str'> <class 'str'>

### Convert dictionary values to lists using `list()` function

In [53]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [55]:
list(data.values())

['Montgomery', 'Phoenix', 'Atlanta', 'Frankfort', 'Salem']

In [56]:
tuple(data.keys())

('Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio')

### A List in a Dictionary

In [1]:

favourite_language={
    'Jen': ['Python', 'ruby'],
    'sarah':['C'],
    'edward':['ruby','Java'],
    'Phil':['Python','Haskell']   
}

In [2]:
for name, languages in favourite_language.items():
    print("\n"+name.title()+"\'s favourite languages are: ")
    #print(languages)
    for i in languages:
        print("\t\t\t"+i.title())

Jen's favourite languages are:
			Python
			Ruby

Sarah's favourite languages are:
			C

Edward's favourite languages are:
			Ruby
			Java

Phil's favourite languages are:
			Python
			Haskell

###  A Dictionary in a Dictionary

In [3]:
user={
    'einstein':{
        'first': 'albert',
        'last':'einstein',
        'location':'princeton'
    },
    'mcurie':{
        'first':'marie',
        'last': 'curie',
        'location':'paris'
    }
}

In [4]:
user

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [5]:
for username,user_info in user.items():
    print("\nUser Name: ", username)
    fullname=user_info['first']+" "+user_info['last']
    location=user_info['location']
    
    print("The full name is: "+ fullname.title())
    print("The location: ",location.title())

User Name:  einstein
The full name is: Albert Einstein
The location:  Princeton

User Name:  mcurie
The full name is: Marie Curie
The location:  Paris